html {
  font-size: 16px;
}
@function px2rem($px) {
  @return #{$px/16}rem;
}
body {
  box-sizing: border-box;
}

header, footer {
  background-color: coral;
  padding: px2rem(10);
  border-radius: px2rem(4);
  text-align: center;
}

header {
  margin: 4rem 8rem;
}

footer {
  margin: 16rem 8rem 8rem;
}

li {
  list-style-type: none;
  ul {
    padding: 0;
    a {
      color: darkblue;
    }
  }
}

p {
  line-height: 1.6;
}

button, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: burlywood;
}

.welcome-faded {
  padding: 1em;
  position: absolute;
  color: rosybrown;
  transition-delay: 600ms;
  transition-duration: 2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.faded {
  background-color: rgba($color: #000000, $alpha: 0.8);
  transition-delay: 500ms;
  transition-duration: 2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  opacity: 0;
}

main {
  margin: 0 auto;
  padding: px2rem(40);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: px2rem(400);
  button {
    display: -webkit-box;
    box-sizing: border-box;
    margin: px2rem(10) 0;
    height: 3rem;
    width: 6rem;
    border-radius: 4px;
    outline: none;
  }
  label {
    margin: 0 px2rem(20);
  }
  input {
    width: 10rem;
    height: 1.5rem;
  }
  #record {
    input {
      margin: 0 px2rem(20);
    }
  }
  form {
    text-align: right;
  }
  p {
    border-bottom: solid px2rem(3);
  }
  @media screen
  and (orientation: landscape) {

  }
}

@media only screen
and (min-width: 320px)
and (max-width: 480px) {
  header {
    margin: 6rem 0;
  }  
  footer {
    margin: 14rem 0 8rem;
  }
  main {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    #record {
      display: -webkit-inline-flex;
      display: inline-flex;
      flex-direction: column;
      text-align: left;
    }
    .item {
      flex-basis: 44%;
    }
    form {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    input {
      margin: 0 px2rem(20);
    }
  }
}
