//Setting

$background: hsl(200, 30%, 50%);
$color: whitesmoke;

//Tools

@function px2rem($px) {
  @return #{$px/16}rem;
}

//Generic

h1,
ul { margin: 0 }

main { padding-bottom: 2rem }

footer {
  padding: 4rem 0;
  padding-bottom: 7rem;
  background: $background;
  color: $color;
}

//Elements

.header {
  padding: px2rem(22) 0;
  background: $background;
  color: $color;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

//Objects

.welcome-faded {
  padding: 1rem;
  position: absolute;
  color: rosybrown;
  transition-delay: 600ms;
  transition-duration: 2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.faded {
  background-color: rgba($color: #000000, $alpha: 0.8);
  opacity: 0;
}

.list-container {
  background: $background;
  border-radius: 0 0 px2rem(13) 100%;
}

.list {
  width: 10rem;
  padding: 1rem 0;
  position: relative;
  left: 11rem;
  list-style-type: none;
}

.list-item { padding: px2rem(11) }

.list-item a { color: whitesmoke }

//Components

  //box-model

.center { text-align: center }

.main-button { margin-left: 60% }

.pad-content { padding-left: 4rem }

.separate {
  display: inline-block;
  margin-top: px2rem(12);
}

@media screen
and (min-width: 360px)
and (max-width: 689px) {
  .list { left: 60% }
  .pad-content {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen
and (min-width: 690px) {
  .list { left: 80% }
}

.right-align { text-align: right }

@media screen
and (min-width: 360px) {
  .pad-content {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen
and (min-width: 800px) {
  .pad-late {
    max-width: 800px;
    margin: 0 auto;
  }
}

.left-margin {
  margin-left: 5rem;
}

.type {
  $mlef: -60;
  $pad: 20;
  $color: hsla(200, 100%, 0%, 0.8);

  margin-left: #{$mlef}px;
  margin-left: px2rem($mlef);
  padding: #{$pad}px;
  padding: px2rem($pad);
  border-radius: 6px;

  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.closer {
  background: wheat;
  float: right;
  line-height: 1;
  padding: 1px 2px 3.5px 2px;

  align-self: flex-end;

  &:hover {
    cursor: pointer;
  }
}

.note {
  @extend .type;
  background: coral;

  &-closer {
    @extend .closer;
  }
}

.error {
  @extend .type;
  background: hsl(355, 84%, 42%);
  color: wheat;

  &-closer {
    @extend .closer;
    background: unset;
  }
}

.info {
  @extend .type;
  background: rgb(77, 224, 224);

  &-closer {
    @extend .closer;
  }
}

.close {
  display: none;
}

.text {
  text-align: justify;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.flat {
  margin-top: 0;
  margin-bottom: 0;
}

  //grid

//Utilities

.reset-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: burlywood;
}
